/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

/* geral */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background: #f2f6fa;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2rem;
  line-height: 32px;
  font-weight: bold;
  color: #ff171b;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  color: 030026;
}

img {
  display: block;
  max-width: 100%;
}

span {
  color: #ff171b;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  width: 19.5rem;
  height: 5.5rem;
  color: #ff171b;
  border: 0.1rem solid #ff171b;
  border-radius: 0.8rem;
  background: transparent;
  text-align: center;
  padding: 1.7rem 0;
}

/* fim do geral */

/* container */

.form-container {
  display: flex;
  width: 95%;
  max-width: 101.15rem;
  height: 100%;
  min-height: 70rem;
  background: #ffff;
  border-radius: 0.9rem;
  box-shadow: -0.1rem 0.4rem 1rem rgba(235, 235, 235, 0.8);
  justify-content: space-between;
}

/* .form-container */
.col-1 {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 9rem auto 0 auto;
  padding: 2rem;
}

.col-1 ul li {
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid #05013b;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.col-1 ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.social-link {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4.8rem;
}

.social-link li + li {
  margin-left: 2.5rem;
}

/* form */

form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: flex-start;
}

.input-style {
  font-family: "Montserrat", sans-serif;
  width: 41rem;
  height: 5rem;
  background: #f2f6fa;
  border: 1px solid #acc9e6;
  border-radius: 0.8rem;
  padding-left: 1.6rem;
}

.input-style::placeholder {
  font-size: 1.6rem;
  color: #c3d4e5;
}

.input-style:focus {
  outline: none;
  box-shadow: 0 0 0.2rem blue;
}

form div + div {
  margin-top: 1.6rem;
}

.input-checkbox {
  display: flex;
  align-items: center;
  margin-top: 3.4rem;
  align-self: flex-start;
}

.input-checkbox label {
  margin-left: 1.6rem;
  font-weight: 400;
}

input[type="checkbox"] {
  appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #ff171b;
  border-radius: 0.4rem;
  transition: all 0.2s ease-in-out;
  outline: none;
}

input[type="checkbox"]::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-size: 1.6rem;
  font-weight: bold;
  display: none;
}

input[type="checkbox"]:checked::after {
  display: block;
  color: white;
  outline: none;
}

input[type="checkbox"]:checked {
  appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  background: #ff171b;
  border-radius: 0.4rem;
  color: white;
  outline: none;
}

.input-submit {
  display: flex;
  align-self: flex-start;
  margin-top: 4.2rem;
}

.input-submit .btn {
  margin-right: 2rem;
  transition: all 0.2s ease-in-out;
}

.input-submit .btn:hover {
  box-shadow: 0 0 0.6rem #ff171b;
}

input[type="submit"] {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  width: 19.5rem;
  height: 5.5rem;
  color: #fff;
  border-radius: 0.8rem;
  background: #ff171b;
  margin-right: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
  box-shadow: 0 0 0.4rem #ff171b;
}
